@import url("https://fonts.googleapis.com/css2?family=Cutive+Mono&family=Josefin+Sans:ital,wght@0,300;0,400;1,300;1,400&family=Roboto:ital,wght@0,100;0,300;1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Tajawal&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cutive+Mono&family=Josefin+Sans:ital,wght@0,300;0,400;1,300;1,400&family=Roboto:ital,wght@0,300;1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100&display=swap");

/* 
font-family: 'Cutive Mono', monospace;
font-family: 'Josefin Sans', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Lobster', cursive;
font-family: 'Lato', sans-serif;
 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: center;
  object-fit: cover;
  display: inline-block;
}

body {
  background-color: #fff;
  color: #005c93;
  font-family: "Roboto", sans-serif, Arial, Helvetica;
  line-height: 1;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-items: center;
}

html {
  scroll-behavior: smooth;
}

.wrapper {
  max-width: 1440px;
  background-color: #fff;
  align-self: center;
}

#footer {
  background-color: #005c93;
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 1.5vmin;
  text-align: center;
  padding: 8px 5px;

  /* new codes */
  /* padding: 10px;
  margin-top: 20px;
  margin-left: 50px;
  margin-right: 50px; */
}

/*------ navigation bar style ------------------------------------------------------------- */
.logo-box {
  position: absolute;
  top: 20px;
  left: 20px;
  font-family: "Lobster", cursive;
  font-size: 1.4rem;
}

.logo-box img{
  width: 50px;
}

.logo-box a {
  text-decoration: none;
}


.s1 {
  color: #f7971c;
  left: 50px;
  /* margin-righkt: -10px; */
}
.s2 {
  color: #005c93;
  /* margin-left: -10px; */
}

.navbar {
  display: flex;
  align-items: center;
  flex-direction: row;
  padding: 10px;
  position: relative;
}

.nav-style{
  padding-top:20px;
}

nav {
  flex: 1;
  text-align: right;
}

nav ul {
  display: inline-block;
  list-style-type: none;
  border-radius: 15px;
  font-family: "Cutive Mono", monospace;
  background-color: rgba(255, 255, 255, 0.6);
}

nav ul li {
  display: inline-block;
  padding: 2.5px;
  font-size: 1.3em;
  font-weight: bold;
}

nav ul li:nth-child(1){
  padding-left: 0;
}

nav ul li a {
  text-decoration: none;
  transition: 0.25s;
  color: #005c93;
}

nav ul li a:visited {
  color: #005c93;
}

.nav-style a:hover {
  background-color: rgba(0,0,0,0.00);
  text-decoration: none;
  border-radius: 5px;
  border-bottom-style: solid;
  border-bottom-width: 3.1px;
  border-bottom-color: #f7971c;
  width: fit-content;
}

#secondNavList a:hover {
  background-color: rgba(0,0,0,0.00);
  text-decoration: none;
  border-radius: 5px;
  border-bottom-style: solid;
  border-bottom-width: 3.1px;
  border-bottom-color: #005c93;
  width: fit-content;
}

.active-page  a {
  border-radius: 5px;
  border-bottom-style: solid;
  border-bottom-width: 3.1px;
  border-bottom-color: #f7971c;
  width: fit-content;
  	
}

.nav-menu-style {
  padding: 10px 0px;
  margin: 0px 15px;
  position: relative;
}


/* Moble Menu botton and toggle menu style----------------------------------------------------- */

#menu-button {
  border: none;

  cursor: pointer;
  transition: 0.25s;
  z-index: 20;
  /* ======Menu button shape========= */
  background-color: #005c93;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  position: relative;
}

.menu-button-inside {
  font-family: "Roboto", sans-serif, Arial, Helvetica;
  font-size: 1.2em;
  font-weight: bolder;
  line-height: 10px;
  color: #f7971c;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.menu-display {
  display: none;
  cursor: pointer;
}

.menu-button:hover {
  /* background-color: #f7971c; */
  transition: 0.25s;
}

.menu-button-mobileStyle {
  margin-top: 1px;
}

/* crousel style ------------------------------------------------------------------------------- */
.container {
  max-width: 1440px;
  height: 95vh;
  width: 95vw;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
  background-image: url("../imgs/carousel_home_m.jpg");
  background-size: cover;
  background-position: top;
  position: relative;
}

p {
  color: #005c93;
}

.heading-primery {
  color: #005c93;
  font-family: "Josefin Sans", sans-serif;
  text-transform: uppercase;
  align-self: center;
}

.heading-primery-main {
  display: block;
  position: absolute;
  color: #005c93;
  font-family: "Josefin Sans", sans-serif;
  text-transform: uppercase;
  align-self: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.heading-primery-sub-desktop {
  font-size: 4rem;
  font-weight: 400;
  letter-spacing: 10px;
}

.heading-primery-sub-mobile {
  display: none;
  font-size: 1.8rem;
  font-weight: 400;
  letter-spacing: 5px;
}

.center-heading-text {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100vw;
  height: 35vh;
  text-align: center;
  border-radius: 15px;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.85);
}

.button-unstyled {
  background: none;
  border: 0px;
  padding: 0px;
}

.gallery-overlay-navigation {
  position: absolute;

  transform: translateY(-50%);
  top: 50%;

  outline: 0;
  /* background-color: rgba(255, 255, 255, 0.5); */
}
.gallery-overlay-navigation.next {
  right: 30px;
}
.gallery-overlay-navigation.previous {
  left: 30px;
}

.gallery-control {
  transition: all 1000ms ease-in-out;
}

.gallery-control:hover {
  cursor: pointer;
}

/* page title style ------------------------------------------------------------------------------- */
#page_title {
  color: #005c93;
  font-family: "Josefin Sans", sans-serif;
  font-size: 4rem;
  text-align: center;
  padding: 4rem;
}

#page_title span {
  font-family: "Cutive Mono", monospace;
}

#page_description {
  font-family: "Tajawal";
  font-size: 1.5rem;
  text-align: justify;
  color: #292929;
  margin-left: 3rem;
  margin-right: 3rem;
  padding: 0 10% 0 10%;
}

.page_line {
  color: #f7971c;
  width: 90%;
  margin: auto;
}

.page_line hr {
  height: 4px;
  background-color: #f7971c;
  margin-top: -5px;	
}

/* Second Navigation styel -------------------------------------------------------------------------*/

#secondNavList {
  font-family: "Lato", sans-serif;
  font-size: 1.9rem;
  font-weight: 100;
  align-self: center;
}

#secondNav {
  display: flex;
  max-width: 1440px;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  margin-top: -65px;
  margin-bottom: 50px;
}

#secondNavList {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

#secondNavList ul li a {
  cursor: pointer;
  color: black;
  transition: 0.25s;
  text-decoration: none;
}

#secondNavList ul li a:visited {
  color: black;
}

#secondNavList ul li a:hover {
  color: #f7971c;
  text-decoration: underline;
}

#secondNavList span {
  color: #f7971c;
}

.secondNavSpan {
  padding: 15px;
}

/* featured activies style  ----------------------------------------------------------------------- */
#featuredactivities {
  width: 80%;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.activities-title {
  font-family: "Roboto", sans-serif, Arial, Helvetica;
  font-size: 2rem;
  color: #7e7e7e;
  text-align: center;
  grid-area: title;
}

.activity-description {
  font-family: "Tajawal", sans-serif, Arial, Helvetica;
  font-size: 1rem;
}

.hover-effect:hover{
  transform: scale(1.05);
  cursor: pointer;
}
/* top 5 listings section style  --------------------------------------------------------------- */


.card img{
  border-radius: 15px;
  margin-top: 15px;
}

.toplistingssection {
  margin-top: 3rem;
}

.toplistingstitle {
  font-family: "Cutive Mono", monospace;
  font-size: 4rem;
  /* font-size: 2.5rem; */
  text-align: center;
  width: 90%;
  margin: auto;
  color: #005c93;
}

.toplistingscard {
  width: 90%;
  margin: auto;
}

.toplistingscard img {
  border-radius: 0 0 10px 10px;
  width: 25vw;
  height: 25vh;
}

.toplistingscard .card-body {
  margin-top: -1.2rem;
  font-size: 1.3rem;
  font-family: "Roboto", sans-serif, Arial, Helvetica;
  color: #7e7e7e;
}

.card-title {
  /* margin-top: -1.2rem; */
  font-size: 2.5rem;
  font-family: "Roboto", sans-serif, Arial, Helvetica;
  color: #7e7e7e;
}

.toplistingscard .card-body {
  font-family: "Tajawal", sans-serif, Arial, Helvetica;
  font-size: 0.8rem;
  color: #292929;
}

.card-text {
  font-family: "Tajawal", sans-serif, Arial, Helvetica;
  font-size: 1rem;
  color: #292929;
}

.toplistingscard .card-body a {
  background-color: #005c93;
  color: #f7971c;
  font-family: "Roboto", sans-serif, Arial, Helvetica;
  padding: 5px;
  font-size: 0.8rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.toplistingsaccordionpanel {
  background-color: #005C93;
  color: #F7971C;
  cursor: pointer;
  font-family: "Cutive Mono", monospace;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 1.8rem;
  transition: 0.4s;
}

.toplistingsaccordionpanel::after {
  content: "\25BE";
  float: right;
}

.active, .toplistingsaccordionpanel:hover {
  background-color:white;
}

.toplistingsaccordioncontent {
  padding: 0 18px;
  display: none;
  background-color: white;
  overflow: hidden;
}

	#break {
		display: none;
	}

	.toplistingsaccordioncontent{
		margin-top: 1%;
	}

#page_description{
	margin-top: -2%;
}

	.toplistingsaccordioncontent{
		margin-top: -1%;
	}

#page_introduction{
	margin-top: -2%;
}

/* fixing margins ======================================================*/
@media screen and (max-width: 1400px) {
	#page_title{
		font-size: 4vw;
	}
	#secondNavList {
    font-size: 2.3vw;
  }
	
	#page_description{
		margin-top: -3%;
		font-size: 1.2em;
	}
	
}



/* Media for toggle menu ======================================================*/
@media screen and (max-width: 1000px) {

	#page_title{
		font-size: 2.5em;
	}
		
	#break {
		display: block;
	}
	
	#dash{
		display: none;
	}
	
#secondNavList {
    font-size: 1.3em;
  }
	
	#page_description{
		margin-top: -35px;
		font-size: 1.2em;
	}
	
	#menuItems{
		font-size: 1.5vw;
	}

	.nav-menu-style {
  padding: 10px 7px 10px 7px;
  margin: 0px 7px 0 -17px;
  position: relative;
}
}

/* Media query for mobile mode================================================================ */
@media screen and (max-width: 800px) {
  .logo-box {
    left: 10px;
  }

	  .menu-display {
    display: block;
		  
  }

  .navbar nav {
    position: relative;
  }

  .navbar nav ul {
    position: absolute;
    top: 20px;
    right: 45px;
    text-align: left;
    font-family: "Cutive Mono", monospace;
    font-weight: bold;
    background-color: rgba(255, 255, 255, 0.6);
    width: 160px;
    overflow: hidden;
    transition: max-height 0.2s ease-in;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    transform: translateX(60%);
  }

  .navbar nav ul li a {
    cursor: pointer;
    width: 120px;
    z-index: 100;
  }

  .navbar nav ul li a:hover {
    background-color: #f7971c;
    cursor: pointer;
  }

  .header-menu-link:hover {
    background-color: #f7971c;
    text-decoration: underline;
  }
	
	
	
  #menu-button {
    top: 12px;
    right: 10px;
  }

  .heading-primery-sub-desktop {
    display: none;
  }
  .heading-primery-sub-mobile {
    display: block;
  }

  #featuredactivities {
    grid-template-columns: 1fr;
  }

  .toplistingsaccordionpanel {
    font-size: 1.8rem;
  }

  .toplistingscard img {
    width: 100%;
    height: auto;
    /* max-height: 60vh; */
  }

  #secondNavList {
    display: none;
  }

  #page_title {
    font-size: 2.5rem;
  }

  #page_description{	
	  margin-top: -35px;
		font-size: 1.2em;
		padding: 0 1%;
  }

  .toplistingstitle{
    display: none;
  }

  .card img{
    border-radius: 15px;
    margin-top: 10px;
  }
	.container{
		width: 100%;
		
  height: 95vh;
  
  margin: 0;
  padding-left: 0;
  padding-right: 0;
  background-size: cover;
  background-position: top;
  position: relative;
	}
	
  .card-title p{
		font-size: 4vh;
	}
	
	.page_line hr {
  display: none;
}

	
	#dash{
		display: none;
	}
	
	#break{
		display: block;
	}
	
	#footer {
    font-size: .8em;
}
/* ====================End of Media query for mobile mode==================================== */
}